build
wbuild
.lock-waf*
.idea
.project.gf
.waf*
**.a
*.tape
*/*.o
nimcache/
outputGotten.txt
testresults/
tests/*
!tests/*.nim
!tests/exec
tests/exec/*
!tests/exec/*.nim
!tests/parsing
tests/parsing/*
!tests/parsing/*.nim
!tests/builtins
tests/builtins/*
!tests/builtins/*.nim
*.sav*
compile_commands.json
minishell


